@import url(queriesRosario.css);
@import url(queriesIndex.css);
@import url(queriesSalmos.css);
@import url(queriesArcangeles.css);


.text-white {
    color: rgb(231, 231, 231) !important;
}

/* Logo -------------------------------------- */
.rosa img {
    width: 60px;
    height: 56px;
    margin-right: 10px;
}

.rosa span {
    font-size: 23px;
}
/* ------------------------------------------ */

/* Card credo ------------------------------ */
.txt1{
    font-size: 17px !important;
}

.credo {
    height: 245px;
    object-fit: cover;
}
/* ---------------------------------------- */

/* Color negro body */
body {
    background-color: rgb(14, 13, 13);
    color: rgb(231, 231, 231);
}

.negro {
    background-color: black;
}
/* ---------------------------------------- */

.fotoFondo {
    background-image: url(../img/fondo11.jpg);           
    background-size: cover;
    min-height: 500px;   
    background-repeat: no-repeat;
}

.color-de-fondo {
    background-color: rgba(22, 21, 21, 0.411);
    min-height: 550px;
}

.texto {    
    text-align: justify;
    font-size: 17px !important;
}

.cuadrar {
    margin-top: 109px;
}

footer i {
    cursor: pointer;
}

.imagen_salmo img {
    width: 530px; 
    height: auto;
}

.cuadrar_foto_salmo {
    display: flex;
    justify-content: center;
}


/* oraciones.html */
.card-body {
    line-height:23px;
    background-color:black;
    font-size: 18px;
}

/* oraciones.html */
.bg-warning {
    background-color: #F2EBAF !important;
}


/* arcángeles.html */
.sombra:hover {
    box-shadow:  1px 3px 24px 0 #8becf3d2
}

