@media (min-width: 768px) and (max-width: 1454px) {
    #imagEdicion img {
        height: 245px !important;             
    }

    .card {
        border: none !important;
        margin: 13px;
    }
}



